@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --cor-principal: #0A2647
    --cor-secundaria: #144272
    --cor-terciaria:#205295
    --cor-ultima: #2C74B3
}


nav {
    background-color:#F8F0E5;   
   
}

.contene {
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}




button {
    border: none;
    cursor: pointer;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 5% 1% 5%;
}

nav a{
    color: black;
}

.contene{
    display: flex;
    gap: 20px;
    padding: 10px;
    
    
}

header{
    background-color: #F8F0E5;
    width: 100%;
    padding: 20px 0px 20px 0px;
    font-size: 16px; 
}

body{
    background-color: #0F2C59;
    width: 100vw;
}

h5{
    text-align: center;
}

.btn{
    background-color: #0F2C59;
    color: #Ffff;
    width: 6.25rem;
    height: 2.25rem; 
    border-radius: 15px;   
}

.container__butons{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

